body {
  background-image: url(/laptop.png.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  background-color: #000000;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.portfolio {
  margin-right: 400px;
  font-weight: 900;
}

.main {
  /* display: flex; */
  margin-left: 150px;
  margin-top: 180px;
  /* border: 2px solid white; */
  color: aliceblue;
  /* line-height: 0px; */
}

.heading h1 {
  margin: 0;
  padding: 0;
}

.sub-heading h5 {
  margin: 12px 0px 15px 0px;
  font-weight: 500;
}

.btn button {
  height: 35px;
  width: 110px;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  margin: 0px 10px 0px 0px;
}

.header a:hover {
  color: rgb(179, 55, 55);
  transition: ease-in-out;
  transition-duration: 0.2s;
  transform: scale(1.1);
  font-weight: 500;
}

.btn button:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
  background-color: rgba(243, 134, 0, 0.312);
}
